.chat-area{
    display: flex;
    width: min(90vw, 30rem);  
    height: 60vh;              
    max-height: 40rem;         
    border: 0.1rem solid black;
    margin: 0 auto;
    padding: 1rem;            
}

.display-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 90%;
    border: 0.1rem solid black;
    padding: 1rem;
}
.type-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10%;
    border: 0.1rem solid black;
    padding: 1rem;
}

.text-area{
    height: 60%;
    width: 90%;
}
.send-area{
    text-align: center;
    height: 70%;
    width: 20%;
}
.client-messages{
    align-self: flex-end;
    padding: 0.5rem;
    background-color: aqua;
    border: 1px black solid;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    max-width: 70%;
}
.server-messages{
    align-self: flex-start;
    padding: 0.5rem;
    background-color: red;
    border: 1px black solid;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    max-width: 70%;
}